.card_container {
    width: 500px;
    height: 300px;
    background-color: var(--light-blue);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    gap: 0.5rem;
}

.card_cont_active,
.card_cont_active label, 
.card_cont_active textarea {
    background-color: var(--purple);
    color: white;
}
 

.card_container textarea {
    background-color: transparent;
    padding: 5px;
    width: 100%;
    height: 40%;
    resize: none;
    border: 0;
}

.card_but_container{
    display: flex;
}


